<div class="card card-block">
    <h3 class="card-title">GENERATE YOUR JOKES/RIDDLES</h3>
    <form novalidate [formGroup]="form">
        <div class="form-group" [ngClass]="{'has-danger': setup.invalid && (setup.dirty || setup.touched),
        'has-success': setup.valid && (setup.dirty || setup.touched)}">
            <input type="text" class="form-control" placeholder="Your Joke/Riddle" formControlName="setup">
            <div class="form-control-feedback" *ngIf="setup.errors && (setup.dirty || setup.touched)">
                <p *ngIf="setup.errors.required">Your Joke/Riddle is required</p>
            </div>
        </div>
        <div class="form-group" [ngClass]="{
        'has-danger': punchline.invalid && (punchline.dirty || punchline.touched),
        'has-success': punchline.valid && (punchline.dirty || punchline.touched)
      }">
            <input type="text" class="form-control" placeholder="Your Answer" formControlName="punchline">
            <div class="form-control-feedback" *ngIf="punchline.errors && (punchline.dirty || punchline.touched)">
                <p *ngIf="punchline.errors.required">Your Answer is required</p>
            </div>
        </div>
        <button type="button" class="btn btn-warning" [disabled]="form.invalid" (click)="makeAJoke(setup.value, punchline.value)">JOKE READY!
    </button>
    </form>
</div>
